/* Fichier CSS unifié */

/* Styles pour la navbar */
.navbar {
  background-color: #00aaff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.navbar img {
  height: 40px;
  margin-right: 15px;
}

/* Liens de la navbar */
.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: white; /* Couleur uniforme pour tous les liens */
  text-decoration: none;
  font-weight: normal;
  padding: 8px 16px; /* Ajouter du padding pour les liens */
  display: inline-block; /* Pour s'assurer qu'ils sont tous de la même hauteur */
}

.navbar-links a:hover {
  text-decoration: underline;
  background-color: #0077cc; /* Ajout d'une couleur de survol pour les liens */
}

.navbar-links .active {
  text-decoration: underline;
}



.navbar .dropdown-menu {
  background-color: #00aaff;
  border: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  display: none; /* Le menu déroulant est caché par défaut */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block; /* Afficher le menu au survol */
}

.navbar .dropdown-menu .dropdown-item {
  color: white;
  padding: 8px 16px; /* Garder la même taille de padding pour les éléments de menu déroulant */
  text-decoration: none;
  display: block;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #0077cc;
}

/* Styles responsives pour la navbar */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

/* Footer */
footer {
  background-color: #00aaff;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Style général de la page */
body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Main content (espace de contenu principal) */
main {
  padding: 20px;
  background-color: #ffffff;
  min-height: calc(100vh - 140px); /* Ajuste la hauteur pour inclure la navbar et le footer */
}

