.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex; 
  gap: 30px; /* Espace entre chaque lien */
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Les liens prennent tout l'espace disponible */
  justify-content: center; /* Centrer les liens */
}

.navbar-links li {
  display: inline-block; 
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ffdd57;
  text-decoration: underline;
}

.navbar-text {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto; /* Pousse le texte à droite */
}




